body{
    background-color: black;
    color: white;
}


.otp-container{
    width: 100%;
    text-align: center;
    margin: auto , 20px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 50px ;
}
.otp-box-list{
    display: flex;
    
  
}

.otp-box-list .otp-box{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    text-align: center;
    font-size: 25px;
    font-weight:700;
    background: white;
    color: rgb(189, 25, 25);
    border: none;
    border-radius: 50%;

}

.otp-vaildation.success{
    color: greenyellow;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid green ;
    padding: 10px;
}

.otp-vaildation.fail{
    color: rgb(223, 25, 25);
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(145, 19, 19) ;
    padding: 10px;
}

.generate-otp{
    font-weight: 600;
    font-size: 25px;
}

.expireOTPSpot{
    font-weight: 600;
    font-size: 25px;
}
.munnaVai{
    color: rgb(235, 239, 27);
    font-weight: 600;
    font-size: 22px;
}

.munnaParent {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.munnaVaiContainer {
    width: 100%; 
    max-width: 700px; 
    margin: 10px ; 
    text-align: center; 
}

.munnaVaiText {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}


.munnaVaiImg {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.goBackBtn{
    text-align: center;
    margin-top: 10px;
    display: flex;
   justify-content:center;
   align-items: center;
   gap: 3px;
}

/* Mobile-specific styling */
@media (max-width: 600px) {
    .munnaVaiContainer {
        width: 100%;
        max-width: 400px; 
        margin: 10px auto;
    }

    .munnaVaiText {
        font-size: 20px; 
    }

    .munnaVaiImg {
        width: 100%; 
    }
}
